<div class="mt-5 mb-5 ">
  <div class="row">
    <div class="col-md-8">
      <h5>Employee List</h5>
    </div>
    <div class="col-md-4">
      <div class="float-right">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Serach">
        </mat-form-field>
      </div>

    </div>
    <div class="col-md-12">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="Fname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.Fname}} </td>
        </ng-container>

        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="DOB">
          <th mat-header-cell *matHeaderCellDef> Birth Date </th>
          <td mat-cell *matCellDef="let element"> {{element.DOB}} </td>
        </ng-container>


        <ng-container matColumnDef="PhoneNumber">
          <th mat-header-cell *matHeaderCellDef> Phone Number </th>
          <td mat-cell *matCellDef="let element"> {{element.PhoneNumber}} </td>
        </ng-container> -->



        <ng-container matColumnDef="DesignationName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
          <td mat-cell *matCellDef="let element"> {{element.DesignationName}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="Refrence">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Refrence </th>
          <td mat-cell *matCellDef="let element"> {{element.Refrence}} </td>
        </ng-container> -->

        <ng-container matColumnDef="Salary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary </th>
          <td mat-cell *matCellDef="let element"> {{element.Salary}} </td>
        </ng-container>

        <ng-container matColumnDef="TotalExperience">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TotalExperience </th>
          <td mat-cell *matCellDef="let element"> {{element.TotalExperience}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="Resume">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Resume </th>
          <td mat-cell *matCellDef="let element"> {{element.LastUpdatedResume}} </td>
        </ng-container> -->

        <ng-container matColumnDef="AadharNo">
          <th mat-header-cell *matHeaderCellDef> Aadhar-No </th>
          <td mat-cell *matCellDef="let element"> {{element.AadharNo}} </td>
        </ng-container>

        <ng-container matColumnDef="AadharPhoto">
          <th mat-header-cell *matHeaderCellDef> Aadhar-Photo </th>
          <td mat-cell *matCellDef="let element">
            <img data-toggle="modal" data-target="#MyModal"
              [src]="element.AadharPhoto?element.AadharPhoto:'../../../../assets/img/aadhar-card.jpg'"
              alt="Aadhar Card Photo" (click)="openDialog(element.AadharPhoto,element.PanPhoto,element.Fname ,'Aadhar')"
              style="cursor: pointer" width="50" height="50">
          </td>
        </ng-container>



        <ng-container matColumnDef="PanNo">
          <th mat-header-cell *matHeaderCellDef> Pan-No</th>
          <td mat-cell *matCellDef="let element"> {{element.PanNo}} </td>
        </ng-container>PanPhoto

        <ng-container matColumnDef="PanPhoto">
          <th mat-header-cell *matHeaderCellDef> Pan-Photo </th>
          <td mat-cell *matCellDef="let element">
            <img data-toggle="modal" data-target="#MyModal"
              [src]="element.PanPhoto?element.PanPhoto:'../../../../assets/img/pancard_service.png'"
              alt="Pan Card Photo" (click)="openDialog(element.PanPhoto,element.AadharPhoto,element.Fname ,'Pan')"
              style="cursor: pointer" width="50" height="50">
          </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button type="button" class="btn btn-danger mr-2" (click)="deleteEmployee(element.UserID)"><i
                class="fa fa-trash"></i></button>
            <button type="button" class="btn btn-primary" (click)="updateEmployee(element.UserID)"><i
                class="fa fa-pencil"></i></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="totalRecords" [pageSize]="10" [pageSizeOptions]="[10, 20, 100]">
      </mat-paginator>
    </div>
  </div>
</div>

<div class="modal fade" id="MyModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{name}} {{photoname}} Card Photo</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

        <img class="col-md-12 pr-0 pl-0 mb-3" [src]=photUrl1 alt="Trulli" width="450" height="400">
        <div class="mb-2 text-center">
          <img [src]="photUrl2" class="img-thumbnail" (click)=setPopupUrl(photUrl1,photUrl2) height="80" width="80"
            *ngIf="photUrl2" />
          <p class="">{{this.photoname === 'Aadhar' ? 'Pan' : 'Aadhar'}} Card</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>